@charset "UTF-8";

/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-image: linear-gradient(to right, rgba(212, 175, 55, 0.5) 0 100%), url("../images/queen.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 97%;
	margin: 0 auto;
}
a {
	font-weight: bold;
	color: #1a1a1a;
	text-decoration: none;
}
a:focus, a:hover {
	text-decoration: underline;
	transition: .4s ease;
	color: #e21d19;
}
/* the styles for the header */
header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2.5% 0 2% 0;
}
header img {
	max-width: 100%;
	max-height: 120px;
}
/* the styles for the navigation menu */
#nav_menu {
	flex-basis: 76%;
}
#nav_menu ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	gap: 2%;
}
#nav_menu a.current {
	color: #a80e0e;
	text-decoration: underline;
}
/* the styles for the main content */
main {
	display: flex;
}
/* the styles for the section */
section {
	flex-basis: 100%;
	padding: 0 2%;
}
section h1 {
	font-size: 200%;
	padding-top: 1%;
}
.studioalbumtxt {
	font-family: "Inknut Antiqua", serif;
	font-size: 190%;
	-webkit-text-stroke: 1px #7e1210;
}
/* the styles for the article */
article h1 {
	font-family: "Inknut Antiqua", serif;
	font-size: 400%;
	padding-top: 1%;
	margin-bottom: 2%;
	-webkit-text-stroke: 1px #7e1210;
}
article h2 {
	font-family: "Inknut Antiqua", serif;
	font-size: 250%;
	-webkit-text-stroke: 1px #7e1210;
}
article h3 {
	font-family: "Inknut Antiqua", serif;
	font-size: 190%;
}
hr {
	border: 1px solid black;
}
.homehero {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
	padding: 1% 0;
}
.homeimg {
	float: right;
	margin: 1%;
	width: 36%;
	border: 1px solid black;
}
.button {
	font-family: "Inknut Antiqua", serif;
	display: inline-block;
	border: 3px solid #7e1210;
	line-height: 2;
	padding: 1% 2%;
	font-size: 2rem;
	text-align: center;
	border-radius: 35px;
	transition: 0.3s;
	margin-top: 26%;
	background-color: #D4AF37;
	-webkit-text-stroke: 1.5px #7e1210;
}
.button:focus, .button:hover {
	background-color: #c0c0c0;
}
.aboutband {
	align-items: center;
	text-align: center;
	padding: 1% 0;
}
.aboutimg {
	margin: 1%;
	width: 40%;
	border: 1px solid black;
	border-radius: 220px;
}
.aboutbandtext {
	background-color: #D4AF37;
	border: 5px solid #7e1210;
	border-radius: 6px;
	padding: 2% 1%;
	margin-top: 4%;
	line-height: 1.8;
}
.albums {
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.albumsection {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 5%;
}
.albumimg {
	padding-bottom: 4%;
	max-width: 200px;
}
.albumh3 {
	padding: 2%;
	margin: 3% 0;
	border-radius: 50px;
	border: 3px solid #4b0a09;
	background-color: #D4AF37;
}
.albumbutton {
	width: 40%;
	margin: .5% 0;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #6A571B;
	background-color: #D4AF37;
}
.albumbutton img {
	width: 120px;
	height: 38px;
	max-width: 100%;
	object-fit: contain;
}
.contactustxt {
	text-align: center;
}
.contactinfo {
	margin: 3% 0;
	padding: 2% 0;
	background-color: #D4AF37;
	border: 1px solid #1a1a1a;
	border-radius: 20px;;
} 
.contactinfo p {
	padding-top: 2%;
}
/* the styles for the footer */
footer {
	display: flex;
	justify-content: center;
	gap: 1%;
	padding: 5% 0 1.5% 0;
}
footer img {
	max-width: 100%;
	max-height: 35px;
}
/*  the styles for mobile menu */
#mobile_menu { 
	display: none;
}
@media only screen and (max-width: 959px) {
	section h1 {font-size: 250%;}
	section h2, aside h2 {font-size: 165%}
}
@media only screen and (max-width: 640px) {
	header {
		display: flex;
		justify-content: space-around;
		text-align: center;
	}
	article {
		display: flex;
		flex-direction: column;
		margin-top: 4%;
	}
	.homehero > div {
		display: contents;
	}
	.homeimg {
		order: 1;
		margin: 6%;
		width: 75%;
	}
	.aboutimg {
		margin: 6%;
		width: 75%;
	}
	.albumimg {
		width: 50%;
	}
	article a { order: 2; }
	.button {
		margin-top: 5%;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu{
		display: block;
	}
	.slicknav_menu {
		background-color: #D4AF37 !important;
	}
}
@media only screen and (max-width: 420px) {
	body { font-size: 90%; }
}
